streamlit>=1.32
pandas
numpy
yfinance
requests
plotly
gspread
oauth2client
matplotlib
pytz
ta
tqdm
openpyxl
stocknews
streamlit-aggrid
xlsxwriter
curl_cffi
lxml
vaderSentiment
seaborn
scipy
fredapi
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
